<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome Page</title>
</head>
<body bgcolor="#f5f5dc">
<div align="center" style="position: sticky; background-color: red;font-size: 120px">Chatting Web Page</div>
<form>
    <h1 align="center">Welcome to Chatting Web Page</h1>
    <ul>
        <li>Enjoy the Chat with your Friends and Loved One</li>
        <li>It is a best and mostly used web side</li>
        <li>Web site will be get best features</li>
        <li>More <b>Featfures </b>will be added soon</li>
    </ul>
    <h3 align="center">
        To Chat <a href="login.html">Click</a> </h3>
</form>
</body>
</html>