<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SignUp</title>
</head>
<body bgcolor="#ffe4c4">
<div align="center" style="position: sticky; background-color: red;font-size: 120px">Chatting Web Page</div>

<form>
   <br>
    <h2 align="center" style="color: blue">Sign Up</h2>

<h1 align="center" style="font-size: x-large;color: darkgoldenrod">You Have Success Fully Sign In</h1>
<h2 align="center" style="color: darkgoldenrod">With This Credintials</h2>
<table align="center" border="1">
    <tr>
        <td width="150" height="50">User Name</td>
        <td width="300" height="50"><h3 style="color: red">{{ sur }}</h3></td>
    </tr>
    <tr>
        <td>User Id</td>
        <td><h3 style="color: red">{{ idv }}</h3> </td>
    </tr>
</table>



<h4 align="center">To go for <a href="login.html">Login</a></h4>
<h4 align="center">To Register Another User <a href="signup.html">Sign Up</a></h4>

</form>
</body>
</html>